@media (max-width:550px) {

    body img {
        height: 30rem;
        width: 17rem;
        margin-right: 3rem;
        margin-left: 7%;
        margin-top: 10%;
    }
}

img {
    margin-left: 30%;
}