@media (max-width: 550px) {
    body img {
        height: 36rem;
        width: 28rem;
        margin-right: 0rem;
        margin-left: 8%;
        margin-top: 3%;
    }
}

img {
    margin-left: 30%;
}
